/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333333;
    margin: 0;
    margin-bottom: 60px; /* Añadir espacio para que no se sobreponga el footer */
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.section {
    padding: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.features-list, .benefits-list {
    list-style-type: none;
    padding: 0;
}

.features-list li, .benefits-list li {
    font-size: 18px;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

footer {
    position: relative;
    padding: 20px;
    background-color: #333; /* Asegúrate de que el color sea el que desees */
    color: white;
    text-align: center;
}

footer a {
    color: #f9f9f9;
    text-decoration: none;
}